<aside class="menu-sidebar d-none d-lg-block">
  <div class="logo">
    <button (click)="navigateHomePage()" style="cursor: pointer;">
      <img
        src="../../../../assets/images/logo.png"
        alt="luv2shop"
        class="img-responsive"
      />
    </button>
  </div>
  <div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
      <ul class="list-unstyled navbar-list">
        <li *ngFor="let c of categories">
          <a style="cursor: pointer;" (click)="onFilterCategory(c.id)">{{ c.name }}</a>
        </li>
      </ul>
    </nav>
  </div>
</aside>

